@import './base.css';
@import "tailwindcss";
@import "@radix-ui/themes/styles.css";

body {
  height: 100vh;
  box-sizing: border-box;
  user-select: none;
  background: transparent;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: transparent;
}

.splash-card {
  height: 100vh;
  width: 100vw;
  background: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
  border-radius: 12px;
  border: 1px solid #333;
  -webkit-app-region: drag; /* Makes the splash window draggable */
}

.splash-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.copy-write-text {
  font-size: 12px;
  color: #888;
  margin-bottom: 15px;
}

.logo-subtext {
  font-size: 12px;
  color: #888;
  margin-bottom: 15px;
}

.logo { font-size: 28px; margin-bottom: 25px; width: 100%; text-align: center; }
.logo span { color: #ff710f; }

.status-text {
  color: #888;
  font-size: 14px;
  margin-top: 15px;
}

.spinner {
  width: 30px;
  height: 30px;
  border: 3px solid rgba(255,255,255,0.1);
  border-top: 3px solid #ff710f;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin { 100% { transform: rotate(360deg); } }